body {
    background-color: #ffffff;
    // font-family: "Ink Free";
}

.container {
    margin: 0px;
    padding: 0px;
    
}

.top-wrapper {
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    padding: 180px 0 100px 0;
    
}

.top-wrapper p {
    font-size: 24px;
    font-family: "Ink Free";
    text-shadow: 0 0 10px #333333;
}

.btn-wrapper {
    margin: 20px 50px 20px 50px;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 5px;
}

.signup {
    background-color: #39cbdd;
}

.google {
    background-color: #DD4B39;
    margin: 0px 10px 10px 0px;
}

.twitter {
    background-color: #1DA1F2;
    margin: 0px 10px 10px 0px;
}

.facebook {
    background-color: #1877f2;
    margin: 0px 10px 10px 0px;
}


.fab {
    margin-right: 5px;
}

.profile_add {
    background-color: #fbd575;
    margin: 0px 10px 10px 0px;
    
} 

.profile_btn {

    .profile_edit {
        background-color: #93c0b7;
        margin: 0px 20px 20px 0px;
    }

    .profile_delete {
        background-color: #9e9890;
        margin: 0px 20px 20px 0px;
        float: right;
    }

    .profile_delete after {
        clear: both;
        display: block;
        sontent: " ";
    }
    
    
}

.report_add {
    background-color: #fbd575;
    margin: 0px 10px 10px 0px;
    
} 

.report_btn {

    .report_edit {
        background-color: #93c0b7;
        margin: 0px 20px 20px 0px;
    }

    .report_delete {
        background-color: #9e9890;
        margin: 0px 20px 20px 0px;
        float: right;
    }

    .report_delete after {
        clear: both;
        display: block;
        sontent: " ";
    }
    
}

