.navbar {
    font-family: "Ink Free";

    .navbar-brand {
        font-size: 60px;
        margin-left: 5px;

    }
    
    .nav-link {
        font-size: 18px;
        margin-top: 30px;
    }
    
}


.fooder {
    height: 70px;
    
    .copyright {
        color: #777;
        text-align: center;
    }
    
}

