body{
    

    .displayname-group row {
        margin: 10px 0;
    
    }
    
    .gender-group row {
        margin: 10px 0;
    }
    
    .birthday-group row {
        margin: 10px 0;
    }
    
    .pref-group row {
        margin: 10px 0;
    }
    
    .introduction-group row {
        margin: 20px 0;
    }

}


