body {
  background-color: #ffffff;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  padding: 180px 0 100px 0;
}

.top-wrapper {
  color: white;
}

.top-wrapper p {
  font-size: 24px;
  font-family: "Ink Free";
  opacity: 0.7;
}

.btn-wrapper {
  margin: 20px 0 20px 50px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}

.signup {
  background-color: #39cbdd;
}

.google {
  background-color: #DD4B39;
}