body .displayname-group row {
  margin: 10px 0;
}
body .gender-group row {
  margin: 10px 0;
}
body .birthday-group row {
  margin: 10px 0;
}
body .pref-group row {
  margin: 10px 0;
}
body .introduction-group row {
  margin: 20px 0;
}